* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: brown;
    animation: down 1s;
}

.header__content {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__list {
    gap: 20px;
    display: flex;
    list-style: none;

}

button {

    border: none;
    background-color: transparent;

}

.favourite svg {

    width: 40px;
    height: 40px;
    display: block;

}

.favourite svg path {

    transition-property: fill, stroke;
    transition-duration: .3s;

}

.favourite:hover svg path {

    stroke: red;

}

.favourite:active svg path {

    stroke: red;
    fill: purple;
}

@keyframes down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
    }
}

.arrow {

    animation: arrow 1s alternate infinite;

}

.arrow svg {

    width: 100px;
    height: 100px;
}
@keyframes arrow {
   0% {
       transform: translateY(0);

   }

   100% {
    transform: translateY(100px);
   }

}

.add-like {

    margin-top: 100px;
    display: block;

}


.section {
  padding: 100px 20px;
  height: 100vh;
}

.home {
  background-color: aqua;
}

.contacts {
  background-color: rebeccapurple;
}

.why {
  background-color: red;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
.loader-vrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
    background-color: rgb(31, 29, 27);
    height: 100vh;
    width: 100vw;
}
